In [1]:
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.datasets import mnist         # библиотека базы выборок Mnist
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, f1_score, accuracy_score, roc_curve, roc_auc_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

In [2]:
data=pd.read_csv('movies.csv')

In [3]:
data

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60193,tt1836907,Sài Gòn Yo!,Sài Gòn Yo!,2011,2011-04-22,Drama,106,Vietnam,Vietnamese,Stephane Gauger,...,"Quynh Hoa, Khuong Ngoc, Elly Nguyen, Phan Tan ...","Mai, a ribbon dancer from the countryside arri...",6.8,106,$ 500000,NaN,NaN,NaN,3.0,4.0
60194,tt1836912,Shaitan,Shaitan,2011,2011-06-10,"Action, Crime, Drama",121,India,"Hindi, English",Bejoy Nambiar,...,"Kalki Koechlin, Shiv Panditt, Gulshan Devaiah,...",Five substance-abusing friends decide to fake ...,7.2,7615,NaN,NaN,NaN,NaN,42.0,15.0
60195,tt1836918,Slow Action,Slow Action,2011,2011-01-28,Sci-Fi,45,UK,English,Ben Rivers,...,NaN,NaN,6.8,107,GBP 30000,NaN,NaN,NaN,4.0,6.0
60196,tt1836926,Stealing Las Vegas,Stealing Las Vegas,2012,2012-09-11,"Crime, Thriller",87,USA,English,Francisco Menéndez,...,"Eric Roberts, Antonio Fargas, Ethan Landry, An...",When a greedy Las Vegas casino owner threatens...,3.9,354,NaN,NaN,NaN,NaN,10.0,4.0
60197,tt1836944,The Baytown Outlaws,The Baytown Outlaws,2012,2013-06-15,"Action, Comedy, Crime",98,USA,English,Barry Battles,...,"Clayne Crawford, Travis Fimmel, Daniel Cudmore...",When three redneck brothers agree to help a wo...,6.4,13182,$ 4000000,NaN,$ 37470,33.0,64.0,6.0

In [59]:
data=data.dropna()#Убираем пропущенные значения

In [60]:
data.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

# Предобработка

In [61]:
data['reviews_from_users']

488      471.0
1005     270.0
2336     262.0
2687     229.0
3100     808.0
         ...
60090      6.0
60112     13.0
60117     22.0
60118    104.0
60145    321.0
Name: reviews_from_users, Length: 5246, dtype: float64

'imdb_title_id', -удаляем так как не несет смысла+ 

'title',--удаляем так как не несет смысла +

'original_title',-удаляем так как почти всегда совпадает с title+

'year',-без изменений+

'date_published',-удаляем+

 'genre',-используем векторайзер+
       
'duration',-оставляем без изменений+
       
'country',-используем дамми переменные+
       
'language',используем векторайзер+
       
'director',-дамми редкие на other+
       
'writer',-дамми редкие на other+
       
'production_company',-дамми редкие на other+
       
'actors',-используем векторайзер+
       
'description',-удаляем так как усложняют модель+
       
'avg_vote',-удаляем так как таких данных у нас не будет+
       
'votes',-удаляем так как таких данных у нас не будет+
       
'budget',-убрать все что не в $+
       
'usa_gross_income',-учесть инфляцию либо убираем(убираем)+
       
 'worlwide_gross_income',-учесть инфляцию либо убираем(убираем)+
       
'metascore',-без изменений целевая переменная+
       
'reviews_from_users',-удаляем так как таких данных у нас не будет+

'reviews_from_critics'],-удаляем так как таких данных у нас не будет+

Удаляем лишнее

In [62]:
data=data.drop(['imdb_title_id','date_published','title','original_title','usa_gross_income','metascore','description',"avg_vote","votes",'reviews_from_users','reviews_from_critics'],axis=1)

In [63]:
data

,year,genre,duration,country,language,director,writer,production_company,actors,budget,worlwide_gross_income
488,1927,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",DEM 6000000,$ 1349711
1005,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Virginia Cherrill, Florence Lee, Harry Myers, ...",$ 1500000,$ 32609
2336,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Charles Chaplin, Paulette Goddard, Henry Bergm...",$ 1500000,$ 445226
2687,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",$ 1499000,$ 184925486
3100,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,"Thomas Mitchell, Barbara O'Neil, Vivien Leigh,...",$ 3977000,$ 402352579
...,...,...,...,...,...,...,...,...,...,...,...
60090,2013,Comedy,85,"Spain, Ireland, France","Catalan, English, Spanish, Japanese",Roger Gual,"Javier Calvo, Silvia González Laá",Subotica Entertainment,"Jan Cornet, Claudia Bassols, Vicenta N'Dongo, ...",EUR 2700000,$ 150718
60112,2013,"Drama, Musical, Romance",110,"South Korea, USA",English,Duane Adler,Duane Adler,CJ Entertainment,"Derek Hough, BoA, Will Yun Lee, Wesley Jonatha...",$ 15000000,$ 1471106
60117,2011,"Comedy, Drama, Romance",108,France,"French, Swedish","David Foenkinos, Stéphane Foenkinos","David Foenkinos, David Foenkinos",2.4.7. Films,"Audrey Tautou, François Damiens, Bruno Todesch...",EUR 7000000,$ 9696204
60118,2012,"Drama, Mystery, Thriller",102,"France, Germany","English, German",Brian De Palma,"Brian De Palma, Natalie Carter",SBS Productions,"Rachel McAdams, Noomi Rapace, Karoline Herfurt...",$ 20000000,$ 713616
60145,2011,Drama,123,"Iran, France",Persian,Asghar Farhadi,Asghar Farhadi,Asghar Farhadi Productions,"Payman Maadi, Leila Hatami, Sareh Bayat, Shaha...",$ 500000,$ 19899055

Отбрасываем фильмы до 2000

In [67]:
data = data[data.year > 2008]

In [68]:
new_data=[]
for budget in data["budget"]:
    if '$' not in budget:
        budget=''
    new_data.append(budget)
data["budget"]=new_data
data = data[data.budget != '']

In [70]:
new_data=[]
for money in data["worlwide_gross_income"]:
    if '$' not in budget:
        money=''
    new_data.append(money)
data["worlwide_gross_income"]=new_data
data = data[data.worlwide_gross_income != '']

In [72]:
data["budget"] = data["budget"].replace('[\$]', '', regex=True).astype(float)
data["worlwide_gross_income"] = data["worlwide_gross_income"].replace('[\$]', '', regex=True).astype(float)
#data["budget"] = data["budget"].replace('[GBP,]', '', regex=True)#.astype(float)
#data["budget"] = data["budget"].replace('[EUR,]', '', regex=True)

In [73]:
data

,year,genre,duration,country,language,director,writer,production_company,actors,budget,worlwide_gross_income
40953,2010,"Drama, Mystery, Thriller",104,USA,English,Allen Wolf,Allen Wolf,Morning Star Pictures,"Philip Winchester, Tim Draxl, Lacey Chabert, A...",1000000.0,30158.0
40988,2009,"Animation, Drama, Fantasy",100,USA,"English, Russian",Henry Selick,"Henry Selick, Neil Gaiman",Focus Features,"Dakota Fanning, Teri Hatcher, Jennifer Saunder...",60000000.0,124596398.0
41298,2012,"Adventure, Drama, Romance",124,"France, USA, UK, Mexico, Canada, Brazil, Germa...","English, French",Walter Salles,"Jack Kerouac, Jose Rivera",MK2 Productions,"Sam Riley, Garrett Hedlund, Kristen Stewart, A...",25000000.0,8784318.0
42089,2013,"Comedy, Drama, Fantasy",114,"USA, UK","English, Spanish, Icelandic",Ben Stiller,"Steve Conrad, Steve Conrad",Twentieth Century Fox,"Ben Stiller, Kristen Wiig, Jon Daly, Kathryn H...",90000000.0,188133322.0
42141,2009,"Adventure, Drama, War",153,"Germany, USA","English, German, French, Italian",Quentin Tarantino,Quentin Tarantino,Universal Pictures,"Brad Pitt, Mélanie Laurent, Christoph Waltz, E...",70000000.0,321455689.0
...,...,...,...,...,...,...,...,...,...,...,...
60069,2013,Comedy,81,USA,English,Michelle Schumacher,"Randle Schumacher, Eric Radzan",Rubber Tree Productions,"J.K. Simmons, Tim Allen, Scott Caan, Basil Hof...",1000000.0,4175.0
60079,2014,"Comedy, Romance",100,USA,English,Steve Pink,"Leslye Headland, Tim Kazurinsky",Screen Gems,"Kevin Hart, Michael Ealy, Regina Hall, Joy Bry...",12500000.0,49002684.0
60112,2013,"Drama, Musical, Romance",110,"South Korea, USA",English,Duane Adler,Duane Adler,CJ Entertainment,"Derek Hough, BoA, Will Yun Lee, Wesley Jonatha...",15000000.0,1471106.0
60118,2012,"Drama, Mystery, Thriller",102,"France, Germany","English, German",Brian De Palma,"Brian De Palma, Natalie Carter",SBS Productions,"Rachel McAdams, Noomi Rapace, Karoline Herfurt...",20000000.0,713616.0
60145,2011,Drama,123,"Iran, France",Persian,Asghar Farhadi,Asghar Farhadi,Asghar Farhadi Productions,"Payman Maadi, Leila Hatami, Sareh Bayat, Shaha...",500000.0,19899055.0

Заменим малоизвестных режиссеров,сценаристов,страны,компании на 'other'

In [74]:
vc = data['director'].value_counts()
data.loc[data['director'].isin(vc[vc < 10].index), 'director'] = 'other'

In [75]:
vc = data['writer'].value_counts()
data.loc[data['writer'].isin(vc[vc < 5].index), 'writer'] = 'other'

In [76]:
vc = data['country'].value_counts()
data.loc[data['country'].isin(vc[vc < 10].index), 'country'] = 'other'

In [77]:
data.loc[data["country"] == "Germany, USA", "country"] = "Germany, USA"
data.loc[data["country"] == "USA, Germany", "country"] = "Germany, USA"

In [78]:
vc = data['production_company'].value_counts()
data.loc[data['production_company'].isin(vc[vc < 15].index), 'production_company'] = 'other'

Форматируем дату

In [79]:
#data['date_published'] = pd.to_datetime(data['date_published'], errors='coerce')

In [80]:
#data['date_published']=data['date_published'].dt.strftime("%Y%m%d").astype(int)

Применяем векторайзер для жанра

In [81]:
vectorizer = CountVectorizer()
X=vectorizer.fit_transform(data["genre"].values.astype('U')) 
vectorized_data=pd.DataFrame(X.todense(),columns=vectorizer.get_feature_names_out())#в случае появления ошибок убрать _out
pd.concat([data, vectorized_data], axis=1).reindex(vectorized_data.index)
data=data.drop(["genre"],axis=1)

In [82]:
vectorized_data

,action,adventure,animation,biography,comedy,crime,drama,family,fantasy,fi,...,horror,music,musical,mystery,romance,sci,sport,thriller,war,western
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1142,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1143,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1144,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1145,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Аналогично для языков

In [83]:
data

,year,duration,country,language,director,writer,production_company,actors,budget,worlwide_gross_income
40953,2010,104,USA,English,other,other,other,"Philip Winchester, Tim Draxl, Lacey Chabert, A...",1000000.0,30158.0
40988,2009,100,USA,"English, Russian",other,other,Focus Features,"Dakota Fanning, Teri Hatcher, Jennifer Saunder...",60000000.0,124596398.0
41298,2012,124,other,"English, French",other,other,other,"Sam Riley, Garrett Hedlund, Kristen Stewart, A...",25000000.0,8784318.0
42089,2013,114,"USA, UK","English, Spanish, Icelandic",other,other,Twentieth Century Fox,"Ben Stiller, Kristen Wiig, Jon Daly, Kathryn H...",90000000.0,188133322.0
42141,2009,153,other,"English, German, French, Italian",other,other,Universal Pictures,"Brad Pitt, Mélanie Laurent, Christoph Waltz, E...",70000000.0,321455689.0
...,...,...,...,...,...,...,...,...,...,...
60069,2013,81,USA,English,other,other,other,"J.K. Simmons, Tim Allen, Scott Caan, Basil Hof...",1000000.0,4175.0
60079,2014,100,USA,English,other,other,Screen Gems,"Kevin Hart, Michael Ealy, Regina Hall, Joy Bry...",12500000.0,49002684.0
60112,2013,110,other,English,other,other,other,"Derek Hough, BoA, Will Yun Lee, Wesley Jonatha...",15000000.0,1471106.0
60118,2012,102,other,"English, German",other,other,other,"Rachel McAdams, Noomi Rapace, Karoline Herfurt...",20000000.0,713616.0
60145,2011,123,other,Persian,other,other,other,"Payman Maadi, Leila Hatami, Sareh Bayat, Shaha...",500000.0,19899055.0

In [84]:
data["language"]

40953                             English
40988                    English, Russian
41298                     English, French
42089         English, Spanish, Icelandic
42141    English, German, French, Italian
                       ...
60069                             English
60079                             English
60112                             English
60118                     English, German
60145                             Persian
Name: language, Length: 1146, dtype: object

In [85]:
vectorizer = CountVectorizer()
X=vectorizer.fit_transform(data["language"].values.astype('U')) 
vectorized_data=pd.DataFrame(X.todense(),columns=vectorizer.get_feature_names_out())#в случае появления ошибок убрать _out
#pd.concat([data, vectorized_data], axis=1).reindex(vectorized_data.index)
data=data.drop(["language"],axis=1)

Аналогично для актеров

In [86]:
vectorizer = CountVectorizer()
X=vectorizer.fit_transform(data["actors"].values.astype('U')) 
vectorized_data=pd.DataFrame(X.todense(),columns=vectorizer.get_feature_names_out())#в случае появления ошибок убрать _out
#pd.concat([data, vectorized_data], axis=1).reindex(vectorized_data.index)
data=data.drop(["actors"],axis=1)

Создадим Dummy для стран

In [87]:
data=pd.get_dummies(data,columns=["country","director","writer","production_company"])

In [88]:
data.columns

Index(['year', 'duration', 'budget', 'worlwide_gross_income', 'country_France',
       'country_UK', 'country_UK, USA', 'country_USA', 'country_USA, Canada',
       'country_USA, UK', 'country_other', 'director_other',
       'writer_Joel Coen, Ethan Coen', 'writer_Jon Lucas, Scott Moore',
       'writer_Patrick Melton, Marcus Dunstan', 'writer_other',
       'production_company_Columbia Pictures', 'production_company_DreamWorks',
       'production_company_Focus Features',
       'production_company_Fox 2000 Pictures', 'production_company_Lionsgate',
       'production_company_New Line Cinema',
       'production_company_Paramount Pictures',
       'production_company_Screen Gems',
       'production_company_Summit Entertainment',
       'production_company_Twentieth Century Fox',
       'production_company_Universal Pictures',
       'production_company_Walt Disney Pictures',
       'production_company_Warner Bros.', 'production_company_other'],
      dtype='object')

Подготовим тестовую и обучающие выборки

In [90]:
y=data["worlwide_gross_income"].values
X=data.drop(["worlwide_gross_income"],axis=1).values

In [91]:
scaler = MinMaxScaler()
scaler.fit(X)
X=scaler.transform(X)

In [92]:
def print_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    print(f'MSE = {mse:.2f}, RMSE = {rmse:.2f}')

In [93]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3)

Выберем и обучим модель

In [94]:
clf = RandomForestRegressor(max_depth=40,n_estimators=70)
clf.fit(X_train,y_train)

RandomForestRegressor(max_depth=40, n_estimators=70)

In [95]:
y_pred=clf.predict(X_valid)

In [96]:
print_regression_metrics(y_valid, y_pred)

MSE = 23124523691234208.00, RMSE = 152067497.16